{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>UXIM - People Exploring HCI</title>  

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{%static 'src/homelogo.png'%" type="image/x-icon" />
    <link rel="" href="{%static 'src/homelogo.png'%">

    <link rel="shortcut icon" href="{%static 'src/homelogo.png'%}" type="image/x-icon" />
    <link rel="" href="{%static 'src/homelogo.png'%}">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%static 'css/custom.css'%}">
	<script src="{%static 'js/modernizr.js'%}"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="{%static 'src/homelogo.png'%}" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="sd">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">About</a>
            </li>
              <li class="nav-item">

              <a class="nav-link js-scroll-trigger" href="#e">NOTICE</a>

            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Session</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Project</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Contact</a>
            </li>
          </ul>
            <u1 class="navbar-nav text-uppercase ml-auto"><div class="hi">
             <li class="nav-item">
                 <a class="nav-link js-scroll-trigger" href="#"><a href="#" class="sim-btnnnn btn-hover-newwww"><span>join us</span></a></a>
            </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#"><a href="#" class="sim-btnnn btn-hover-newww"><span>SIGN In</span></a></a>
            </li>
                  </div>
            </u1>
        </div>
      </div>
    </nav>
    
    {%block content%}
    {%endblock%}
    
	
    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">
                    Check us out in <a hre="#">Facebook</a> <br>
                    All Rights Reserved. &copy; 2020 Design & Developed By : 박찬혁 이혜윤 안준우 배근찬 권서현
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    

    <!-- ALL JS FILES -->
    <script src="{%static 'js/all.js'%}"></script>
	<!-- Camera Slider -->
	<script src="{%static 'js/jquery.mobile.customized.min.js'%}"></script>
	<script src="{%static 'js/jquery.easing.1.3.js'%}"></script> 
	<script src="{%static 'js/parallaxie.js'%}"></script>
	<script src="{%static 'js/headline.js'%}"></script>
    <!-- ALL PLUGINS -->
    <script src="{%static 'js/custom.js'%}"></script>
    <script src="{%static 'js/jquery.vide.js'%}"></script>

</body>
</html>